body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th, table td {
    padding: 15px;
    text-align: left;
}

table th {
    background: #2c3e50;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

table tr:nth-child(even) {
    background: #f8f8f8;
}

table tr:hover {
    background: #f1f1f1;
}

table td {
    color: #555;
}
.actions{
    display: flex;
    justify-content: flex-end;
}   
.delete{
    color: #f44336;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.delete:hover {
    background: #f44336;
    color: white;
}
.edit{
    color: #3498db;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.edit:hover {
    background: #3498db;
    color: white;
}
.hidden{    
    display: none;
}
.BTN{
    all: unset;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.short{
  width:80%;
}
.confirm{
    color: #28a745;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.confirm:hover {
    background: #28a745;
    color: white;
}
.cancel{
    color: #dc3545; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cancel:hover {
    background: #dc3545;
    color: white;
}



@media screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
